body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #b5516d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.atm-container {
    background-color: #ffffff;
    width: 380px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    border: 4px solid #9babc0;
}

.atm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(250, 250, 249);
    margin-bottom: 15px;
}

.atm-header h2 {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
}

.status-light {
    width: 12px;
    height: 12px;
    background-color: #250210;
    border-radius: 50%;
    box-shadow: 0 0 8px #66172b;
}

.atm-screen {
    background-color: #320a16;
    border: 3px solid #5b4646;
    border-radius: 8px;
    padding: 20px;
    height: 180px;
    color: #34d399;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#receipt-title {
    margin: 0 0 10px 0;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px dashed #047857;
    padding-bottom: 5px;
}

#receipt-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}
